* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-image: url("/final_project/images/misc/background.jpg");
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 992px;
    margin: 0 auto;
    border: 3px solid black;
    background-color: tan;
}

/* header properties */
header {
    color: white;
    background-image: url("/final_project/images/misc/background2.jpg");
    padding: 10px 10px;
    text-shadow: 2px 2px red;
}
header h2 {
    color: white;
}
header img {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 20px;
}


/* nav menu properties */

.nav {
    display: flex;
    list-style: none;
    flex-direction: row;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.nav li {
    width: 25%;
    margin: 10px;
    text-align: center;
}
.nav li a {
    color: slategrey;
    text-decoration: none;
    font-weight: bold;
}
.nav li a:hover {
    color: royalblue;
}

/* wrapper & column properties */
.wrapper {
    display: flex;
    width: 75%;
    height: 100%;
    position: relative;

}
.column {
    display: flex;
    flex-flow: column wrap;
    height: 100%;
}
.column #right_side {
    flex-basis: 20%;
}

/* main properties */
main {
    margin-top: 10px;
    margin-left: 10px;
}
main p {
    margin: 10px 0;
}
.wrapper_image {
    width: 300px;
    height: 300px;
}

/* link properties */
a:hover {
    color: royalblue;
}
a:active {
    color: darkcyan;
}


/* footer properties */
footer {
    clear: both;
    color: slategrey;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    padding: 10px 0;
    border-top: 1px solid black;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* mobile support */
@media screen and (max-width: 600px) {
    
    html {
        background: none;
    }
    body {
        border: none
    }
}