
/* html and body styles */

html {
    background-image: linear-gradient(brown, yellow);
    height: 100%;
    display: block;
}

body {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 25px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fac695+0,f5ab66+47,ef8d31+100;Orange+3D+%232 */
    background: #fac695; /* Old browsers */
    background: -moz-linear-gradient(top,  #fac695 0%, #f5ab66 47%, #ef8d31 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fac695 0%,#f5ab66 47%,#ef8d31 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #fac695 0%,#f5ab66 47%,#ef8d31 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fac695', endColorstr='#ef8d31',GradientType=0 ); /* IE6-9 */

}

/* header styles */

header {
    font-size: 150%;
    font-weight: bold;
    color: black;
    border-bottom: 1px solid black;
}
header img {
    width: 100px;
    height: 100px;
}
#header-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
#header-left {
    margin-right: 20px;
}
#header-right {
    margin-left: 20px;
}

/* wrapper styles */

#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0 0;
}
#slider, .nivoSlider {
    width: 600px;
    height: 450px;
}

/* footer styles */

footer {
    text-align: center;
    padding: 1em 0;
    font-weight: bold;
    color: black;
    border-top: 1px solid black;
}

/* phone size */

@media only screen and (max-width: 767px) {
    
    html {
        background: none;
    }
    header {
        font-size: 80%;
    }
    header img {
        width: 10%;
        height: 10%;
    }
    body {
        border: none;
        border-radius: 0;
    }
    #wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 50px 0 0;
    }
    #slider, .nivoSlider {
        width: 80%;
        height: 80%;
    }
    footer {
        font-size: 70%;
    }



}