* {
	margin: 0;
	padding: 0;
}

/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 98%;
	max-width: 960px;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: auto;
	margin-left: auto;
	border: 3px solid #931420;
	background-color: #fffded;
}

/* the styles for the header */
header {
	border-bottom: 3px solid #931420;
	padding-top: 1.5em;
	padding-bottom: 2em;
	background-image: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
}

header img {
	float: left;
}

header h2 {
	font-size: 170%;
	color: #800000;
	padding-right: 30px;
	padding-left: 30px;
}

header h3 {
	font-size: 130%;
	font-style: italic;
	padding-right: 30px;
	padding-left: 30px;
}

.shadow {
	text-shadow: 4px 4px 4px #800000;
}

/* mobile menu styles */
#mobile_menu {
	display: none
}


/* nav menu styles */
#nav_menu ul {
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
}

#nav_menu ul li {
	float: left;
	width: 20%;
}

#nav_menu ul li a {
	display: block;
	text-align: center;
	padding: 1em 0;
	text-decoration: none;
	background-color: #800000;
	color: white;
	font-weight: bold;
}

#nav_menu ul ul {
	position: absolute;
	display: none;
	top: 100%;
	width: 100%;
}

#nav_menu ul ul li {
	float: none;
}

#nav_menu ul li:hover > ul {
	display: block;
}

#nav_menu > ul::after {
	content: "";
	display: block;
	clear: both;
}

/* the styles for the section */
main section h2, main aside h2 {
	font-size: 130%;
	color: #800000;
	padding-top: 0.5em;
	padding-bottom: 0.25em;
}

main aside h3 {
	font-size: 105%;
	padding-bottom: 0.25em;
	font-size: 105%;
}

main section p {
	padding-bottom: 0.5em;
}

main section blockquote {
	font-style: italic;
	padding-right: 2em;
	padding-left: 2em;
}

main section article {
	padding: 0.5em 0;
	border: 2px solid #800000;
}

main section article h1 {
	font-size: 150%;
	padding-top: 0.5em;
	padding-bottom: 0.25em;
	margin: 0 0;
}

main section article h2 {
	padding-top: 0;
}

main section article h3 {
	font-size: 105%;
	padding-bottom: 0.25em;
}

main section article img {
	float: right;
	margin: 5px 5px;
	border: 1px solid black;
	max-width: 40%;
	min-width: 150px;
}

main section ul {
	padding-bottom: 0.25em;
	padding-left: 1.25em;
}

main section li {
	padding-bottom: 0.35em;
}

main aside img {
	padding-bottom: 1em;
}

main section {
	width: 54.6875%;
	float: right;
	padding: 0 20px;
	padding-bottom: 20px;
}

.circle {
	list-style-type: circle;
}

aside {
	width: 22.3958%;
	float: right;
	padding: 20px 60px;
}

/* the styles for the links */
a:active {
	font-style: italic;
}

/* the styles for the footer */
footer {
	color: white;
	text-align: center;
	border-top: 3px solid #931420;
	border-bottom: 3px solid #931420;
	background-color: #931420;
	padding-top: 1em;
	padding-bottom: 1em;
	clear: both;
}

/* media queries */

/* tablet in portrait view */
@media only screen and (max-width: 959px) {

	main section h1 {
		font-size: 135%;
	}
	main h2 {
		font-size: 120%;
	}

}
/* phone in landscape orientation */
@media only screen and (max-width: 767px) {
	
	header img {
		float: none;
	}
	main section {
		float: none;
		width: 80%;
	}
	main section article img {
		max-width: 30%;
	}
	main aside {
		float: none;
		width: 80%;
		padding-right: 10px;
	}
	main aside div {
		column-count: 2;
	}
	#nav_menu {
		display: none;
	}
	#mobile_menu {
		display: block;
		background-color: #800000 !important;
	}


}
/* phone in portrait orientation */
@media only screen and (max-width: 479px) {

	body {
		font-size: 90%;
	}

}